{% extends "base.html" %}
{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecom.</p>
            </div>
        </div>
    </header>

    <div class='container'>
        <div class="row">
            <center>
                <div class="col-8">
                    <br><br>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dolor sollicitudin, efficitur libero sed, aliquet mi. Nunc gravida tincidunt placerat. Etiam quis lacus id lacus porttitor tincidunt eget sollicitudin lacus. Morbi id est risus. Maecenas sed sapien elit. Nunc malesuada tortor neque, nec venenatis est commodo eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam mollis mi sed lectus aliquet tincidunt. Vestibulum id augue condimentum, convallis justo quis, aliquam ipsum. Vivamus vel metus bibendum, sagittis leo ac, facilisis nulla. Praesent commodo, orci sed cursus tristique, urna dui bibendum lorem, eu ornare metus arcu quis metus. Nulla porttitor blandit massa, in vulputate dui.
                        <br>
                        Nullam suscipit quis augue ac tempus. Suspendisse ipsum urna, venenatis et libero ac, volutpat blandit velit. Suspendisse potenti. Quisque pellentesque non erat a condimentum. Maecenas lectus magna, elementum quis volutpat et, facilisis eu erat. Duis eu ligula pretium, venenatis magna vel, elementum diam. Vivamus ut tortor et nibh aliquet dignissim sit amet sed massa. Ut fringilla faucibus ex, ut sagittis lectus dignissim et.
                        <br>
                        Morbi gravida magna vel ipsum tristique, eget pretium dui cursus. Curabitur non ante in odio vehicula egestas. Phasellus auctor vulputate metus, non varius erat sollicitudin in. Ut iaculis nibh nec tortor dignissim posuere. Quisque vitae malesuada felis. Maecenas tellus nisl, vestibulum vitae auctor at, molestie nec massa. Vivamus mollis lorem ac accumsan viverra. Nulla mattis molestie placerat. Donec felis augue, pellentesque in sollicitudin molestie, iaculis eget turpis. Maecenas volutpat felis vitae justo faucibus mollis. Sed interdum nibh libero, sed maximus metus molestie eu. Donec sapien mauris, rutrum id sapien ut, posuere rhoncus enim. Nulla et eros et massa facilisis tristique.
                    </p>
                    <br><br>
                </div>
            </center>
        </div>
    </div>
{% endblock %}